//COLORES++++++++++++++++++++++++++++++++++++

$turquesa-oscuro: #215D73;
$turquesa-medio: #4A8B94;
$turquesa-claro: #7EB1AD;
$color-gris: #868686;

$color-blanco: white;
$color-negro: black;




//TIPOGRAFÍA+++++++++++++++++++++++++++++++++

$texto-titulos: 'Cormorant Garamond', serif;
$texto-parrafos: 'Open Sans', sans-serif;


//TAMAÑO FUENTES++++++++++++++++++++++++++++

$h1-size: 50px;
$h2-size: 40px;
$h3-size: 35px;
$h4-size: 30px;
$h5-size: 25px;

$size-p: 18px;
$lista-size: 20px;
$bahia-p: 14px;
$size-pinter: 16px;

//iconos----
$icono-p: 22px;
$icono-bahía: 80px;






//ESTILOS+++++++++++++++++++++++++++++++++++

$mayuscula: uppercase;
$negrita: bold;